/* this file has CSS for my navbar */
.navbar {
    display: flex;

    border-bottom: 1px solid black;
    font-size: 1.2rem;
}

.navbar > a {
    text-decoration: none;
    color: black;
    padding: 12px 20px;
}

.navbar > a:hover {
    color: rgba(123, 123, 123)
}